In [1]:
import pandas as  pd
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('water_potability.csv')

In [3]:
data

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1
3273,9.419510,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2785 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          2495 non-null   float64
 5   Conductivity     3276 non-null   float64
 6   Organic_carbon   3276 non-null   float64
 7   Trihalomethanes  3114 non-null   float64
 8   Turbidity        3276 non-null   float64
 9   Potability       3276 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 256.1 KB

In [5]:
data.isnull().sum()

ph                 491
Hardness             0
Solids               0
Chloramines          0
Sulfate            781
Conductivity         0
Organic_carbon       0
Trihalomethanes    162
Turbidity            0
Potability           0
dtype: int64

In [6]:
# Distribution in original data (count any column values, but don't take columns which contain NULL values, otherwise it will give wrong count)

data.groupby('Potability').count()['Solids'].reset_index().sort_values(by='Potability',ascending=False)

   Potability  Solids
1           1    1278
0           0    1998

In [7]:
#Three columns contain NULL values: ph, Sulfate and Trihalomethanes

In [8]:
# Drop columns where at least two of these three coumns are NULL.
# If only one column is NULL, replace it with average.

data = data.drop(data[(data.ph.isna()) & (data.Sulfate.isna()) & (data.Trihalomethanes.isna())].index)
data = data.drop(data[(data.Sulfate.isna()) & (data.Trihalomethanes.isna())].index)
data = data.drop(data[(data.ph.isna()) & (data.Sulfate.isna())].index)
data = data.drop(data[(data.ph.isna()) & (data.Trihalomethanes.isna())].index)
data.fillna(data.mean(), inplace=True)

In [9]:
data

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,7.078708,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,333.699670,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,333.699670,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3270,6.069616,186.659040,26138.780191,7.747547,345.700257,415.886955,12.067620,60.419921,3.669712,1
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3273,9.419510,175.762646,33155.578218,7.350233,333.699670,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.869376,6.303357,333.699670,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.177061,7.509306,333.699670,327.459760,16.140368,78.698446,2.309149,1

In [10]:
data.isnull().sum()

ph                 0
Hardness           0
Solids             0
Chloramines        0
Sulfate            0
Conductivity       0
Organic_carbon     0
Trihalomethanes    0
Turbidity          0
Potability         0
dtype: int64

In [11]:
# Split data into training and testing

train_data, test_data = train_test_split(data, test_size=0.2,  shuffle=True)
train_data = train_data.reset_index()
test_data = test_data.reset_index()

In [12]:
train_data

,index,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,2178,7.879543,170.190912,37000.955674,6.217223,346.063677,517.576762,15.871770,68.911185,4.066229,0
1,2097,10.164839,194.302801,28915.643224,7.301689,316.525209,279.165436,18.452310,63.062458,2.937686,0
2,3119,6.847863,234.942203,24456.174888,5.596241,334.873046,337.573151,9.515292,77.297300,4.921196,1
3,1341,7.078708,194.445316,41461.316999,6.951666,239.911902,362.500414,14.110249,58.751463,4.894842,0
4,1763,7.078708,149.838900,20283.783629,10.005871,383.113114,355.184935,17.003495,53.799720,2.028875,0
...,...,...,...,...,...,...,...,...,...,...,...
2487,1038,5.368126,190.937979,32619.312975,8.098839,351.358134,435.666469,11.983635,107.900842,2.004143,0
2488,1224,5.344117,198.379144,13492.840835,6.559265,328.648845,591.363369,14.084388,61.392983,4.104699,1
2489,820,7.078708,175.708553,25954.031764,6.229322,346.225062,379.290646,13.636910,50.590765,2.951396,0
2490,133,7.977636,245.895130,32170.069160,9.635636,399.583155,473.662453,11.728338,23.817020,3.552129,0
2491,2965,9.459931,222.894659,14450.175747,6.790914,293.746321,433.145005,9.069161,67.906813,3.322890,0

In [13]:
test_data

,index,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,1811,7.078708,247.164018,18939.616461,7.086375,305.040026,419.453088,12.758114,60.319203,4.287441,0
1,2304,7.116133,204.040782,25131.665279,5.402655,292.324403,424.003499,12.836710,55.404587,3.915382,1
2,693,7.725192,213.951328,20461.759043,5.340319,333.699670,338.214258,17.032466,58.587459,4.163326,1
3,1845,8.176080,201.553701,21856.988628,5.241047,320.260120,464.803330,15.627641,61.654744,4.112322,0
4,286,5.671774,216.042811,15949.153179,7.500573,333.699670,372.535243,17.895724,77.457885,3.833160,1
...,...,...,...,...,...,...,...,...,...,...,...
619,559,7.494212,210.347276,29252.501112,5.922704,339.846577,445.061231,16.917113,84.868548,5.492705,0
620,2035,5.763773,183.073629,22025.696606,8.952896,333.699670,376.581389,10.547398,63.299757,3.253200,1
621,1912,7.760189,206.208834,34250.163925,7.930382,299.131598,347.180780,19.350765,80.621872,4.590528,1
622,1327,5.918954,154.773517,9712.560664,5.326272,333.699670,386.218072,16.579301,65.882335,4.265547,0
623,842,4.292967,212.808645,30434.269118,8.630313,333.482540,382.922363,15.779922,39.775513,2.804924,0

In [14]:
# Distribution in cleaned data

data.groupby('Potability').count()['ph'].reset_index().sort_values(by='Potability',ascending=False)

   Potability    ph
1           1  1221
0           0  1895

In [15]:
# Distribution in training data

potability_train = train_data.groupby('Potability').count()['ph'].reset_index().sort_values(by='Potability',ascending=False)
potability_train

   Potability    ph
1           1   977
0           0  1515

In [16]:
# Distribution in testing data

potability_test = test_data.groupby('Potability').count()['ph'].reset_index().sort_values(by='Potability',ascending=False)
potability_test

   Potability   ph
1           1  244
0           0  380

In [17]:
# Therefore, similar distribution in training and testing data (when compared to combined distribution)

# Also, data is imbalanced

### NOTE: 

For imbalanced dataset: normal ML methods like logistic regression, k-nearest neighbours and SVM can perform bad. <br>
But, decision tree and ensemble methods do not get affected by imbalance dataset much. <br>
So, for sure, the best working model for our dataset will be Random forest or gradient boosting or Adaboost.<br>

#### Try using k-fold cross validation.

In [18]:
y_train = train_data['Potability']
x_train = train_data.drop(columns=['Potability'])

y_test = test_data['Potability']
x_test = test_data.drop(columns=['Potability'])

In [19]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import accuracy_score,f1_score, confusion_matrix,classification_report

In [20]:
# Logistic Regression

lr = LogisticRegression(C=1.0)
lr.fit(x_train, y_train)
pred_lr = lr.predict(x_test)

C:\Users\jainp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [21]:
print(confusion_matrix(y_test,pred_lr))
print(accuracy_score(y_test,pred_lr))
print(classification_report(y_test,pred_lr))

[[376   4]
 [235   9]]
0.6169871794871795
              precision    recall  f1-score   support

           0       0.62      0.99      0.76       380
           1       0.69      0.04      0.07       244

    accuracy                           0.62       624
   macro avg       0.65      0.51      0.41       624
weighted avg       0.65      0.62      0.49       624

In [22]:
# Results are not good with Logistic Regression, let's run different models for the same training testing data and compare them.

In [23]:
accuracy = []
f1_s = []
true_neg = []
false_neg= []
false_pos = []
true_pos = []

In [24]:
# Print accuracy of model
def predict(model,X_train,y_train,X_test,y_test):
    
    clf = model
    clf.fit(X_train, y_train)
    predictions=clf.predict(X_test)
    confusion_matrix(y_test,predictions)
    print("{}" .format(model))
    print(classification_report(y_test,predictions))
    print('-'*50)
    cm = confusion_matrix(y_test,predictions)
    print(cm)
    cm = list(cm)
    true_neg.append(cm[0][0])
    false_pos.append(cm[0][1])
    false_neg.append(cm[1][0])
    true_pos.append(cm[1][1])
    acc = accuracy_score(y_test,predictions)
    accuracy.append(acc)
    print('Accuracy', acc)
    f1 = f1_score(y_test,predictions, average='macro')
    f1_s.append(f1)
    print('F1',f1)
    print('-'*50)

In [25]:
# Create a list of the regression models to be used
models=[LogisticRegression(C=1.0),SVC(),MultinomialNB(),KNeighborsClassifier(n_neighbors=5),
        DecisionTreeClassifier(), RandomForestClassifier()]

In [26]:
# Loop through the list of models and use function to trian and make predictions
for model in models:
    predict(model,x_train, y_train, x_test ,y_test)

C:\Users\jainp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()
              precision    recall  f1-score   support

           0       0.62      0.99      0.76       380
           1       0.69      0.04      0.07       244

    accuracy                           0.62       624
   macro avg       0.65      0.51      0.41       624
weighted avg       0.65      0.62      0.49       624

--------------------------------------------------
[[376   4]
 [235   9]]
Accuracy 0.6169871794871795
F1 0.41443418784625835
--------------------------------------------------
SVC()
              precision    recall  f1-score   support

           0       0.61      0.99      0.75       380
           1       0.00      0.00      0.00       244

    accuracy                           0.61       624
   macro avg       0.30      0.50      0.38       624
weighted avg       0.37      0.61      0.46       624

--------------------------------------------------
[[378   2]
 [244   0]]
Accuracy 0.6057692307692307
F1 0.3772455089820359
--------------------------------------------------
MultinomialNB()
              precision    recall  f1-score   support

           0       0.64      0.54      0.58       380
           1       0.42      0.52      0.47       244

    accuracy                           0.53       624
   macro avg       0.53      0.53      0.52       624
weighted avg       0.55      0.53      0.54       624

--------------------------------------------------
[[205 175]
 [117 127]]
Accuracy 0.532051282051282
F1 0.5246235246235246
--------------------------------------------------
KNeighborsClassifier()
              precision    recall  f1-score   support

           0       0.62      0.74      0.68       380
           1       0.43      0.30      0.35       244

    accuracy                           0.57       624
   macro avg       0.52      0.52      0.51       624
weighted avg       0.55      0.57      0.55       624

--------------------------------------------------
[[282  98]
 [171  73]]
Accuracy 0.5689102564102564
F1 0.5144390286234977
--------------------------------------------------
DecisionTreeClassifier()
              precision    recall  f1-score   support

           0       1.00      0.98      0.99       380
           1       0.98      1.00      0.99       244

    accuracy                           0.99       624
   macro avg       0.99      0.99      0.99       624
weighted avg       0.99      0.99      0.99       624

--------------------------------------------------
[[374   6]
 [  1 243]]
Accuracy 0.9887820512820513
F1 0.9882648469298657
--------------------------------------------------
RandomForestClassifier()
              precision    recall  f1-score   support

           0       0.87      0.96      0.91       380
           1       0.92      0.77      0.84       244

    accuracy                           0.88       624
   macro avg       0.89      0.86      0.87       624
weighted avg       0.89      0.88      0.88       624

--------------------------------------------------
[[363  17]
 [ 55 189]]
Accuracy 0.8846153846153846
F1 0.8748872180451128
--------------------------------------------------

For imbalance dataset: <br>
There are two major approaches- 
1) Use ensemble methods (Random Forest/ Boosting) <br>
2) Use oversampler or undersampler

In [27]:
#pip install imblearn
#pip install delayed

In [28]:
from imblearn.over_sampling import RandomOverSampler
from collections import Counter

In [29]:
os=RandomOverSampler(sampling_strategy=0.999)
x_train_os,y_train_os= os.fit_resample(x_train,y_train)
print("The number of classes before fit {}".format(Counter(y_train)))
print("The number of classes after fit {}".format(Counter(y_train_os)))

The number of classes before fit Counter({0: 1515, 1: 977})
The number of classes after fit Counter({0: 1515, 1: 1513})

In [30]:
# Loop through the list of models and use function to trian and make predictions
for model in models:
    predict(model,x_train_os, y_train_os, x_test ,y_test)

LogisticRegression()
              precision    recall  f1-score   support

           0       0.66      0.57      0.61       380
           1       0.44      0.54      0.49       244

    accuracy                           0.55       624
   macro avg       0.55      0.55      0.55       624
weighted avg       0.57      0.55      0.56       624

--------------------------------------------------
[[215 165]
 [113 131]]
Accuracy 0.5544871794871795
F1 0.5462649089767734
--------------------------------------------------

C:\Users\jainp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

SVC()
              precision    recall  f1-score   support

           0       0.65      0.65      0.65       380
           1       0.45      0.45      0.45       244

    accuracy                           0.57       624
   macro avg       0.55      0.55      0.55       624
weighted avg       0.57      0.57      0.57       624

--------------------------------------------------
[[246 134]
 [134 110]]
Accuracy 0.5705128205128205
F1 0.5490940465918897
--------------------------------------------------
MultinomialNB()
              precision    recall  f1-score   support

           0       0.64      0.55      0.59       380
           1       0.42      0.52      0.47       244

    accuracy                           0.54       624
   macro avg       0.53      0.53      0.53       624
weighted avg       0.56      0.54      0.54       624

--------------------------------------------------
[[209 171]
 [118 126]]
Accuracy 0.5368589743589743
F1 0.5285173090850146
--------------------------------------------------
KNeighborsClassifier()
              precision    recall  f1-score   support

           0       0.66      0.59      0.62       380
           1       0.45      0.52      0.49       244

    accuracy                           0.57       624
   macro avg       0.56      0.56      0.55       624
weighted avg       0.58      0.57      0.57       624

--------------------------------------------------
[[225 155]
 [116 128]]
Accuracy 0.5657051282051282
F1 0.5549508246768798
--------------------------------------------------
DecisionTreeClassifier()
              precision    recall  f1-score   support

           0       1.00      0.98      0.99       380
           1       0.98      1.00      0.99       244

    accuracy                           0.99       624
   macro avg       0.99      0.99      0.99       624
weighted avg       0.99      0.99      0.99       624

--------------------------------------------------
[[374   6]
 [  1 243]]
Accuracy 0.9887820512820513
F1 0.9882648469298657
--------------------------------------------------
RandomForestClassifier()
              precision    recall  f1-score   support

           0       0.87      0.94      0.90       380
           1       0.89      0.78      0.83       244

    accuracy                           0.88       624
   macro avg       0.88      0.86      0.87       624
weighted avg       0.88      0.88      0.88       624

--------------------------------------------------
[[357  23]
 [ 53 191]]
Accuracy 0.8782051282051282
F1 0.8689293018628048
--------------------------------------------------

In [31]:
# Create dataframe with all the results for different models (In model_names below, OS represent Oversampler method)

model_names = ['Logistic', 'SVC', 'Multinomial', 'k-nearest-classifier', 'Decision Tree', 'Random Forest', 'Logistic_OS', 'SVC_OS', 'Multinomial_OS', 'k-nearest-classifier_OS', 'Decision Tree_OS', 'Random Forest_OS']

df = pd.DataFrame(list(zip(accuracy, f1_s, true_neg, false_neg, false_pos, true_pos)),
               columns =['Accuracy','F1 score', 'True Negative', 'False Negative', 'False Positive', 'True Positive'])

In [32]:
df

,Accuracy,F1 score,True Negative,False Negative,False Positive,True Positive
0,0.616987,0.414434,376,235,4,9
1,0.605769,0.377246,378,244,2,0
2,0.532051,0.524624,205,117,175,127
3,0.568910,0.514439,282,171,98,73
4,0.988782,0.988265,374,1,6,243
5,0.884615,0.874887,363,55,17,189
6,0.554487,0.546265,215,113,165,131
7,0.570513,0.549094,246,134,134,110
8,0.536859,0.528517,209,118,171,126
9,0.565705,0.554951,225,116,155,128
10,0.988782,0.988265,374,1,6,243
11,0.878205,0.868929,357,53,23,191

In [35]:
df_t = df.T                               # Transpose of dataframe
df_t = df_t.set_axis(model_names, axis=1, inplace=False)   
df_compare = df_t[['Logistic', 'Logistic_OS', 'SVC', 'SVC_OS', 'Multinomial', 'Multinomial_OS', 'k-nearest-classifier', 'k-nearest-classifier_OS','Decision Tree', 'Decision Tree_OS', 'Random Forest','Random Forest_OS' ] ]

In [36]:
df_compare                     # Final dataframe to compare all models.

,Logistic,Logistic_OS,SVC,SVC_OS,Multinomial,Multinomial_OS,k-nearest-classifier,k-nearest-classifier_OS,Decision Tree,Decision Tree_OS,Random Forest,Random Forest_OS
Accuracy,0.616987,0.554487,0.605769,0.570513,0.532051,0.536859,0.568910,0.565705,0.988782,0.988782,0.884615,0.878205
F1 score,0.414434,0.546265,0.377246,0.549094,0.524624,0.528517,0.514439,0.554951,0.988265,0.988265,0.874887,0.868929
True Negative,376.000000,215.000000,378.000000,246.000000,205.000000,209.000000,282.000000,225.000000,374.000000,374.000000,363.000000,357.000000
False Negative,235.000000,113.000000,244.000000,134.000000,117.000000,118.000000,171.000000,116.000000,1.000000,1.000000,55.000000,53.000000
False Positive,4.000000,165.000000,2.000000,134.000000,175.000000,171.000000,98.000000,155.000000,6.000000,6.000000,17.000000,23.000000
True Positive,9.000000,131.000000,0.000000,110.000000,127.000000,126.000000,73.000000,128.000000,243.000000,243.000000,189.000000,191.000000